
<div class="main-org-chart col-md-24">
  <div class="body-org-chart" >
    <ng-organization-chart [data]="data" [ngClass]="{'zoom-5' : zoomSelected == 2 , 'zoom-1' : zoomSelected == 1, 'zoom-1-5' : zoomSelected == 3 }" ></ng-organization-chart>
  </div>
</div>
<div class="main-org-chart col-md-24">
  <div class="body-org-chart">
    <ng-organization-chart-vertical [data]="data" [ngClass]="{'zoom-5' : zoomSelected == 2 , 'zoom-1' : zoomSelected == 1, 'zoom-1-5' : zoomSelected == 3 }" ></ng-organization-chart-vertical> 
  </div>
</div>