@import "../../../../diagram-chart/src/styles/modules/colors.scss";


 
 ng-organization-chart-list {
	padding-top: 20px; position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	display: block;
}

/*Time to add downward connectors from parents*/
 ng-organization-chart-list::before{
	content: '';
	position: absolute; top: 0; left: 50%;
//	border-left: 1px solid #B1CFE9;
	width: 0; height: 20px;
}

.header { margin-top: -10px; }
.label-header { color: #666; margin-top: 5px; margin-left: 5px; }
.label-footer { padding: 0px 5px 5px 13px; float: left; }

.container{
	border: 1px solid $gray-light;
	padding: 5px 10px;
	text-decoration: none;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	width: 200px;
	height: 76px;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.container:hover{
	border: 1px solid #4A74B3;
	padding: 5px 10px;
	text-decoration: none;
	background-color: #F1F4F9;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	width: 200px;
	height: 76px;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.line-fix{ width: 2px; height: 10px; background-color: #F2F2F2; border-left: 1px solid #B1CFE9; }

.mat-menu-css{
	background-color: transparent!important;
	border:none;
	outline: none;
  
	.mat-icon { color: #1077be;  border:none;  outline: none; }
  }
  
  .mat-menu-item-diagram {
	  margin-right: 16px;
	  vertical-align: middle;
	  color: $blue;
	  font-size: 13px;
	  border:none;
	  outline: none;
  
	  .mat-icon { color: #1077be; }
  }
  

  .default-container {
	background-color: $white;
	margin-bottom: 0!important;
	padding: 0;
  
	h1,
	h2 {
	  padding: 20px 20px;
	  font-size: 16px;
	  border-bottom: 0!important;
	  max-width: 100%;
	  font-weight: 400;
  
	  span { color: $blue-input; text-transform: uppercase; }
	}

	label {
		&.required:after {
			content: "*";
			color: $red;
			position: relative;
			font-size: 13px;
			left: 2px;
		  }
	}

	
	.form-body { padding: 0px 20px 20px 20px; }
	.bottom { padding: 20px 20px 20px 20px;	}
	.label-body { padding: 10px 0px 0px 20px; float: left; text-align: left; }
	.form-check-label{ min-width: 100px; }
	.form-check.form-check-inline { margin-left: 10px !important; }
  }


